{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css"/>
<link rel="icon" href="{% static 'img/icon.png' %}">
</head>
<body>
    <header>
        <div class="left_box">
            <div class="favicon_frame">
               
                <button type="button" class="heart"><img src="{% static 'img/line_favicon.png' %}"><a href="{% url 'feed' %}"></a></button>
            </div>
            <div class="line">
            
                <button type="button" class="heart"><img src="{% static 'img/logo_text.png' %}"><a href="{% url 'feed' %}"></a></button>
            </div>
        </div>
        <div class="right_box">
            <div class="heart_box">
         
                <button type="button" class="heart"><img src="{% static 'img/new.png' %}"><a href="{% url 'new' %}"></a></button>
            </div>
            <div class="myInfo_box">
            
                <button type="button" class="heart"><img src="{% static 'img/myinfo.png' %}"><a href="{% url 'profile' %}"></a></button>
            </div>
        </div>
    </header>
</body>
</html>