<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <title>Instargram</title>
        <link href="base.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="../img/icon.png">
    </head>
    <body>
        <header>
            <div class="leftbox">

                <div class="favicon frame">
                    <img class="faviconFrame" src="../img/line_favicon.png" alt="인스타 로고" />                    
                </div>

                <div class="line">
                    <img class="logo" src="../img/logo_text.png" alt="인스타 글씨" />                    
                </div>
                
            </div>
            <div class="right box">

                <div class="heart_box">
                    <img class="heart" src="../img/new.png" alt="글 작성" />
                </div>

                <div class="myInfo_box">
                    <img class="myInfo" src="../img/myinfo.png" alt="내 프로필"/>
                </div>

            </div>
        </header>
    </body>
</html>